<%- include('../partials/header') %>


<body class="index">
  <table id='list'>
      <thead>
          <tr>
              <th>Name</th>
              <th>Teams</th>
              <th>Rings</th>
              <th>Active</th>
              <th>Details</th>
              <th>Delete</th>
          </tr>
      </thead>
      <tbody>
          <% players.forEach(function(p) { %>
              <tr>
                  <td><%= p.name %></td>
                  <td><%= p.teams %></td>
                  <td><%= p.rings %></td>
                  <td><%= p.activePlayer ? 'Yes' : 'Nope' %></td>
                  <td><button><a href="/players/<%= p._id %>">DETAILS</a></button></td>
                  <td><form action="/players/<%= p._id %>?_method=DELETE"
                    class="delete-player" method="POST">
                    <button type="submit">X</button></td>
              </tr>
          <% }); %>
      </tbody>
  </table>
</body>
