<%- include('../partials/header') %>
<body>
  <h1>BALLER LIST</h1>
  <table>
      <thead>
          <tr>
              <th>Name</th>
              <th>Teams</th>
              <th>Rings</th>
              <th>Active</th>
          </tr>
      </thead>
      <tbody>
          <% players.forEach(function(p) { %>
              <tr>
                  <td><%= p.name %></td>
                  <td><%= p.playerTeams %></td>
                  <td><%= p.playerRings %></td>
                  <td><%= p.activePlayer ? 'Yes' : 'Nope' %></td>
              </tr>
          <% }); %>
      </tbody>
  </table>
</body>
