<%- include('../partials/header') %> 

<section>
  <div>Name: </div>
  <div><%= players.name %></div>
  <div>Rings: </div>
  <div><%= players.rings %></div>
  <div>Teams: </div>
  <div><%= players.teams %></div>
  <div>Active: </div>
  <div><%= players.activePlayer ? 'Yes' : 'No' %></div>
</section>

<br><br>
<h2>Comments</h2>
<form id="add-comment-form" method="POST" action="/players/<%= players._id %>/comments">
  <input name='content'>
  <button type="submit">ADD COMMENT</button>
</form>