<%- include('../partials/header') %> 

<section>
  <div>Name: </div>
  <div><%= p.name %></div>
  <div>Rings: </div>
  <div><%= p.playerRings %></div>
  <div>Teams: </div>
  <div><%= p.playerTeams %></div>
  <div>Active: </div>
  <div><%= p.activePlayer ? 'Yes' : 'Nope' %></div>
</section>

<br><br>
<h2>Comments</h2>
<form id="add-comment-form" method="POST" action="/players/<%= p._id %>/comments">
  <label>Comment:</label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option min=1 max=100></option>
  </select>
  <input type="submit" value="Add Comment">
</form>